.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: hsla(0, 19%, 93%, 0.8);
  z-index: 9999;
}

.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(from -135deg at 100% 50%, #000 90deg, #0000 0) text
      no-repeat,
    conic-gradient(from -135deg at 1lh 50%, #0000 90deg, #000 0) text no-repeat;
  animation: l6 2s linear infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l6 {
  0% {
    background-size: 0 200%;
    background-position: 0 0, 100% 0;
  }
  50% {
    background-size: calc(60% + 0.5lh) 200%;
    background-position: 0 0, 100% 0;
  }
  50.01% {
    background-size: calc(60% + 0.5lh) 200%;
    background-position: 0 100%, 100% 100%;
  }
  100% {
    background-size: 0 200%;
    background-position: 0 100%, 100% 100%;
  }
}
